@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #0afe53;
}

body {
  font-family: "TopazPlus a600a1200a4000", Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 0.75rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: var(--color);

  animation: textShadow 1.033s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

.black .app-container {
  margin: auto;
  width: 90vh;
  animation: jerkup 100ms infinite;
  height: 90vh;
  background: #000000;
  border: 1px solid var(--color);
  padding: 1rem;
}

.app-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
.col1 {
  flex: 1;

  overflow-y: scroll;
  height: 86vh;
  position: relative;
}

.col1,
.col2 {
  padding-top: 0;
}

.col1 {
}

.col2 {
  width: 300px;

  display: block;
  padding: 0;

  border-left: 5px double #0afe53;
}
.screen::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.scanlines .overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanlines .overlay::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  pointer-events: none;
}
.scanlines .overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@-webkit-keyframes on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(4);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(4);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(4);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(4);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@-webkit-keyframes off {
  0% {
    transform: scale(1, 1);
    filter: brightness(1);
  }
  40% {
    transform: scale(1, 0.005);
    filter: brightness(100);
  }
  70% {
    transform: scale(1, 0.005);
  }
  90% {
    transform: scale(0.005, 0.005);
  }
  100% {
    transform: scale(0, 0);
  }
}
@keyframes off {
  0% {
    transform: scale(1, 1);
    filter: brightness(1);
  }
  40% {
    transform: scale(1, 0.005);
    filter: brightness(100);
  }
  70% {
    transform: scale(1, 0.005);
  }
  90% {
    transform: scale(0.005, 0.005);
  }
  100% {
    transform: scale(0, 0);
  }
}

@-webkit-keyframes jerkup {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jerkup {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glitch {
  40% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(80deg, 0);
  }
  42% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(-50deg, 0);
  }
  43% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}

.button {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.button img {
  height: 45px !important;
  width: auto !important;
}

.button.active,
.button:hover {
}
.col2 {
  padding-top: 1rem;
}
.col2 .button {
  margin-bottom: 1rem;
}

.desc {
  max-width: 600px;
  margin-top: 3rem;
}

.artistxs {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.transition {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 2s ease;
  /* position: relative; */
}

.transition.show {
  clip-path: inset(0 0 0 0);
}

.redes {
  margin: auto;
  margin-top: 20px;

  display: flex;
  width: 80%;
  justify-content: space-between;
}

.scanline {
  position: fixed;
  pointer-events: none;
  top: 0%;
  width: auto;
  min-width: 100%;
  height: 2px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 7.77s linear infinite;
}

@keyframes scanline {
  0% {
    top: 99%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.119;
  }
  5% {
    opacity: 0.02841;
  }
  10% {
    opacity: 0.35748;
  }
  15% {
    opacity: 0.88852;
  }
  20% {
    opacity: 0.9408;
  }
  25% {
    opacity: 0.35088;
  }
  30% {
    opacity: 0.22426;
  }
  35% {
    opacity: 0.26418;
  }
  40% {
    opacity: 0.09249;
  }
  45% {
    opacity: 0.35312;
  }
  50% {
    opacity: 0.89436;
  }
  55% {
    opacity: 0.9574;
  }
  60% {
    opacity: 0.19754;
  }
  65% {
    opacity: 0.05086;
  }
  70% {
    opacity: 0.12137;
  }
  75% {
    opacity: 0.75791;
  }
  80% {
    opacity: 0.89617;
  }
  85% {
    opacity: 0.90183;
  }
  90% {
    opacity: 0.20657;
  }
  95% {
    opacity: 0.64125;
  }
  100% {
    opacity: 0.78042;
  }
}

.flicker {
  pointer-events: none;
  position: fixed;
  width: auto;
  min-width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(9, 8, 8, 0.1);
  animation: flicker 0.3301s infinite;
}

.transition .mask {
  /* position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s height;
  background: white; */
}

.transition.show .mask {
  height: 0%;
}

.artistx {
  display: flex;
}
.artistx .left {
  width: 25%;
}

.artistx .left img {
}
.artistx .right {
  flex: 1;
  padding-left: 15px;
}

.trackColumn {
  color: white;
  border-bottom: 1px solid white;
}

.trackName {
  text-align: left;
  width: 53%;
}

.duration {
  text-align: right;
  width: 13%;
}

.track {
  width: 33%;
  text-align: left;
}
.trackField:hover {
  background: rgb(10, 254, 83);
  color: black;
}
.trackField {
  display: flex;
  justify-content: space-between;
}

.str-humanx-container {
  display: flex;
  gap: 10px;
}

.str-humanx-container .str-humanx {
  border: 1px solid var(--color);
  padding: 1rem;
  width: 33.33%;
}

.str-humanx-container .str-humanx .humanx {
  border: 1px solid var(--color);
  margin-bottom: 2rem;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.window {
  border: 1px solid var(--color);
  color: var(--color);
}

.window-title {
  background: var(--color);
  display: block;
  color: black;
  padding: 0.1rem;
  height: 1.2rem;
}

.bio-bar {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}

.bio-bar-1 {
  height: 3vh;
  background: rgb(10, 254, 83, 1);
}

.bio-bar-2 {
  height: 3vh;
  background: rgb(10, 254, 83, 0.5);
}

.bio-bar-3 {
  height: 3vh;
  background: rgb(10, 254, 83, 0.2);
}

.window .window-container {
  padding: 0.5rem;
}

.tracks {
  border: 1px solid var(--color);
  width: 76%;
  margin: auto;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 35%;
  height: 38%;
}

.artistx-id {
  border: 1px solid var(--color);
  width: 74%;
}

.trackField {
  padding: 1px;
}
.volver {
  background: var(--color);
  color: black;

  display: block;
}
.trackColumn {
  background: var(--color);
  color: black;
}

.brand {
  position: absolute;
  bottom: 8%;
  right: 0;
  width: 16%;
  border: 1px solid var(--color);
}
.download .img-container,
.brand .img-container {
  margin: 1rem;
  text-align: center;
}

.download .title,
.brand .title {
  background: var(--color);
  color: black;
  text-align: left;
  padding-left: 0.2rem;
}

.rrss {
  text-decoration: underline;
  font-size: 0.75rem;
  display: block;
}

.rrss:hover {
  text-decoration: underline;
  color: #000000;
  background: #02f503;
}

* {
  cursor: url("/cursor.cur"), auto;
}

.str-vol-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 999999999;
  background: #000000;
  overflow-y: scroll;
  padding: 1rem;
}

.home {
  background-color: #000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.thumb {
  position: relative;
}
.thumb img {
  height: 200px !important;
}

.thumb:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #02f503;
  mix-blend-mode: darken;
  pointer-events: none;
}

.copy {
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: 99;
  font-size: 13px;
  background-color: rgb(131, 111, 111);
  display: none;
}

@media (max-width: 640px) {
  .app-container {
    width: 90%;
  }
  .col1,
  .col2 {
    width: 100%;
  }

  .cols-container {
    display: block;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    line-height: 6px;
    font-size: 45px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .menu-icon:hover {
    color: white;
  }

  .col2 {
    position: fixed;
    right: 0;
    top: -40px;
    width: 164px;
  }

  .button {
    width: 100px;
  }

  .str-vol-1 {
    width: 150px;
  }

  .thumb {
    width: 100% !important;
    margin-bottom: 50px;
    height: auto !important;
  }

  .thumb:hover {
  }

  .thumb img {
    width: 100% !important;
    height: 300px !important;
  }

  .artistxs {
    display: block;
    margin-top: 60px;
  }

  .artistx {
    display: block;
  }
  .artistx .left {
    margin-bottom: 40px;
  }
  .artistx .left,
  .artistx .right {
    width: 100%;
    padding-left: 0;
  }

  .redes {
    display: none;
  }

  .col2 {
    background-image: none;
  }
}

.player {
  width: 100%;
  border: 1px solid var(--color);
  height: 5vh;
  position: fixed;
  z-index: 99999999;
  background: #000000;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(90vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.bar {
  flex: 1;
}

.bar .loaded,
.bar .total,
.bar .played {
  width: 100%;
  background: gray;
  height: 25px;
  position: absolute;
  top: 0;
}

.bar {
  position: relative;

  margin-top: -26px;
}
.bar .played {
  background: #0afe53;
  width: 50%;
}

.playerTackName {
  width: 35%;
}

.controls {
  font-size: 1.5rem;

  width: 15%;
  display: flex;
  height: 10vh;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}
.controls2 {
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.intro pre {
  font-family: monospace;
  white-space: pre;
  margin: 0;
  color: #0afe53;
}

.aventura {
  position: fixed;
  background: var(--green);
  top: 0;
  left: 0;
  z-index: 99999999999999;
  bottom: 0;
  right: 0;
  background: var(--color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aventura img {
  height: 95vh;
}
.green .app-container {
  width: 100%;
  height: 100%;
}

.scanlines.green {
  background: var(--color);
}
.aventura-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30vh;
  flex-direction: column;
}

.green-logo {
  background: var(--color);
  width: 100vw;
  height: 100vh;
}

.green-logo.scanlines .overlay::after {
  background-image: none;
}

.hide-player .player {
  display: none;
}

.download {
  position: absolute;
  left: 10px;
  bottom: 59px;

  background: black;
  width: 16%;
  border: 1px solid var(--color);
}

.download-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid var(--color);
  transform: translate(-50%, -50%);
  background: black;
  padding: 3rem;
  text-align: center;
}

.download-window .button {
  background: var(--color);
  color: black;
  width: 150px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin: 2px;
}
.download-window .button:hover {
  background: white;
  color: black;
}

.download-window input {
  border: 1px solid var(--color);
  background-color: black;
  font-size: 14px;
  width: 150px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999999999;
}
